html {
    background: white;
    color: black;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    font-size: 48px;
}

.reveal h1 {
    color: #FB5800;
    font-family: 'Londrina Solid';
}

.reveal h2, .reveal h3 {
    color: #FB5800;
    font-family: 'Londrina Solid';
}
